.bg-expenses {
  background-color: #ebe9f8;
}

.stroke-field {
  border-color: #9c90f7;
}

.stroke-outline {
  outline-color: #624ef2;
}

.rounded-t-60 {
  border-radius: 60px 60px 0px 0px;
  min-height: 150px;
}
